#section1{
    /* border: 2px solid red; */
    height: 800px;
    display: flex;
    background-color: black;
}
#div1{
    /* border: 2px solid blue; */
    height: 400px;
    width: 430px;
    margin-left: 150px;
    margin-top: 230px;
    color: white;
    /* background-color: white; */
}
#div2{
    /* border: 2px solid blue; */
    height: 550px;
    width: 550px;
    margin-top: 100px;
    margin-left: 150px;
}
#div1 h1{
    font-size: 40px;
}
#div1 div{
    /* border: 2px solid red; */
    width: 300px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    background-color: white;
    color: black;
}
#div1 span{
    margin-top: 10px;
    color: black;
}
#div1 div svg{
    margin-top: 10px;
}
#div2 span{
    margin-top: 10px;
}
#div1 button{
    padding: 10px;
    border-radius: 10px;
    width: 130px;
    font-size: 15px;
}
#section1 img{
    height: 650px;
    width: 580px;
    position: absolute;
    top: 170px;
    left: 700px;

}

