#section4{
    /* border: 2px solid red; */
    height: 700px;
    display: flex;
}
#section4 img{
    height: 550px;
    width: 550px;
    position: absolute;
    margin-top: 70px;
    margin-left: 150px;
}
#section4 div{
    /* border: 2px solid red; */
    height: 400px;
    width: 400px;
    margin-top: 220px;
    margin-left: 850px;
}
#section4 div h1{
    font-size: 30px;
}
#section4 button{
    padding: 10px;
    border-radius: 6px;
    width: 130px;
    cursor: pointer;
    color: white;
    background-color: black;
}